// =============================================================================
// MAIN
// =============================================================================

// normalize
@import '_normalize';

// elements
@import './elements/_button';
@import './elements/_button-remove';
@import './elements/_button-plus-minus';
@import './elements/_avatar';
@import './elements/_list';
@import './elements/_form-group';

// layouts
@import './layouts/_users';
@import './layouts/_user-box';
@import './layouts/_form';

// animation
@import '_animation';

.main {

    &__more {
        position: sticky;
        bottom: 0;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
        transform: translateZ(0);
    }
}

// end MAIN











































