// =============================================================================
// AVATAR
// =============================================================================

.avatar {
    display: inline-block;
    width: 138px;
    height: 138px;
    padding: 4px;
    border: 1px solid #999;
    border-radius: 50%;
    background-color: #fff;
    line-height: 1;
    object-fit: cover;
    object-position: center;

    // small
    &--sm {
        width: 58px;
        height: 58px;
    }

    // empty
    &--empty {

        // icon
        &::before {
            content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#999" viewBox="0 0 483 483"><path d="M240 260h3c29 0 53-11 70-30 39-44 32-118 32-125-3-54-28-79-49-91-15-9-33-14-53-14h-1-1c-11 0-33 2-54 14s-47 37-49 91c-1 7-7 81 31 125 18 19 41 30 71 30zm-75-153c3-72 54-80 76-80h1c27 1 73 12 76 80 0 1 7 69-25 105a66 66 0 0 1-51 21h-1c-22 0-39-7-52-21-31-36-24-104-24-105z"/><path d="M447 384v-1-2c-1-20-2-66-46-81h-1c-45-12-82-38-83-38a13 13 0 1 0-15 22c2 1 41 29 91 42 23 8 26 33 27 56v2l-2 31c-16 9-80 41-176 41-97 0-161-32-177-41-2-8-2-22-2-31v-3c1-22 3-47 27-56 49-12 89-40 91-41a13 13 0 1 0-15-22c-1 0-38 26-83 37l-1 1c-44 15-45 61-46 81v2c0 6 0 32 5 46l5 6c3 2 75 48 196 48s192-46 195-48l5-6c5-13 5-40 5-45z"/></svg>');
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            background-color: #e8e8e8;
            line-height: 0;
        }

    }
}

// end AVATAR