// =============================================================================
// BUTTON REMOVE
// =============================================================================

.btn-r {
    $_this: &;

    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 0;
    padding: 5px;
    color: #c97b7b;
    opacity: 0.6;
    transition: opacity .2s;
    cursor: pointer;

    // icon
    &__icon {
        fill: currentColor;
        transition: transform .2s;
    }


    // hover
    &:hover {
        opacity: 1;
    }
}

// end BUTTON REMOVE