// =============================================================================
// BUTTON PLUS/MINUS
// =============================================================================

.btn-p-m {
    $_this: &;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 0;
    padding: 5px;
    color: #999;
    opacity: 0.6;
    transition: opacity .2s;
    cursor: pointer;

    // area
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    // icon
    &__icon {
        fill: currentColor;
        transition: transform .2s;
    }


    // hover
    &:hover {
        opacity: 1;
    }


    // minus
    &--minus {
        position: relative;

        // icon
        #{$_this}__icon {
            transform: rotate(-45deg);
        }
    }
}

// end BUTTON PLUS/MINUS