// =============================================================================
// BUTTON
// =============================================================================

.btn {
    position: relative;
    background: #888;
    padding: 0.7em 2em;
    color: white;
    font-size: 1em;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgba(#000, 0.3);
    transition: background-color .2s, box-shadow .2s;

    // hover
    &:hover {
        background-color: #777;
    }

    // focus
    &:focus {

    }

    // active
    &:active {
        box-shadow: 3px 3px 5px 1px rgba(#000, 0.3);
    }
}

// end BUTTON