// =============================================================================
// FORM-GROUP
// =============================================================================

.form-group {
    display: flex;
    flex-direction: column;

    // label
    &__label {
        margin-bottom: 2px;
    }

    // input
    &__input {
        padding: 0.5em 1em;
        border-radius: 2em;
        border: 1px solid #888;
    }

    // info
    &__info {
        font-size: 0.8em;
        margin-top: 2px;
        opacity: 0.5;
    }
}

// end FORM-GROUP


