// =============================================================================
// list
// =============================================================================

.list {
    $_this: &;

    padding: 0;
    margin: 0;
    list-style: none;

    // item
    &__item {
        display: flex;
        align-items: baseline;
    }

    // title
    &__title {
        font-weight: 600;
        padding-right: 10px;
    }

    // value
    &__value {

    }


    // few cols
    &--few-cols {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px 30px;
    }
}

// end list