<template>
    <form class="form" id="formAddUser" @submit.prevent="submitForm">
        <button
            class="form__close"
            type="button"
            aria-label="Close form"
            v-on:click="closeForm()"
        >
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                <path stroke-width="2" d="M21 1L1 21M1 1l20 20"/>
            </svg>
        </button>

        <h2 class="form__heading">Add new user</h2>

        <div class="form__box">
            <template v-for="field in fields">

                <div class="form-group" v-if="field.property == 'gender'">
                    <span class="form-group__label">{{ field.title }}</span>
                    <div>
                        <input type="radio" id="field.id + 'Male'" value="male" v-model="field.name" :required="field.required">
                        <label for="field.id + 'Male'">Male</label>
                    </div>
                    <div>
                        <input type="radio" id="field.id + 'Female'" value="female" v-model="field.name" :required="field.required">
                        <label for="field.id + 'Female'">Female</label>
                    </div>
                </div>

                <div class="form-group" v-else>
                    <label
                        class="form-group__label"
                        v-bind:for="field.id"
                    >{{ field.title }}</label>

                    <input
                        class="form-group__input"
                        :id="field.id"
                        :type="field.type ? field.type : 'text'"
                        :pattern="field.pattern"
                        :minlength="field.minlength"
                        :maxlength="field.maxlength"
                        :required="field.required"
                        :name="field.name"
                        v-model="field.name"
                    >
                    <span
                        class="form-group__info"
                        v-if="field.info"
                    >{{ field.info }}</span>
                </div>
            </template>
        </div>

        <div class="form__footer">
            <button class="btn" v-on:click="checkForm()">Add</button>
        </div>
    </form>
</template>





<script>
    export default {
        name: 'FormAddUser',

        // data
        data () {
            return {
                'fields': [
                    {
                        'title': 'Last name',
                        'property': 'lastname',
                        'name': '',
                        'id': 'fieldLast',
                        'required': true
                    },
                    {
                        'title': 'First name',
                        'property': 'firstname',
                        'name': '',
                        'id': 'fieldFirst',
                        'required': true
                    },
                    {
                        'title': 'Username',
                        'property': 'username',
                        'name': '',
                        'id': 'fieldUsername',
                        'required': true
                    },
                    {
                        'title': 'Phone',
                        // 'info': 'Format: 123-456-7890',
                        'property': 'phone',
                        'name': '',
                        'id': 'fieldPhone',
                        'type': 'tel',
                        'maxlength': 12,
                        // 'pattern': '\d{3}[\-]\d{3}[\-]\d{4}',
                        'required': true
                    },
                    {
                        'title': 'Cell',
                        // 'info': 'Format: 123-456-7890',
                        'property': 'cell',
                        'name': '',
                        'id': 'fieldCell',
                        'type': 'tel',
                        'maxlength': 12,
                        // 'pattern': '\d{3}[\-]\d{3}[\-]\d{4}',
                        'required': true
                    },
                    {
                        'title': 'Email',
                        'property': 'email',
                        'name': '',
                        'id': 'fieldEmail',
                        'type': "email",
                        'required': true
                    },
                    {
                        'title': 'Location/City',
                        'property': 'location',
                        'name': '',
                        'id': 'fieldLocation',
                        'required': true
                    },
                    {
                        'title': 'Address',
                        'property': 'address',
                        'name': '',
                        'id': 'fieldAddress',
                        'required': true
                    },
                    {
                        'title': 'Zip Code',
                        'info': 'Format: nnnnn',
                        'property': 'postcode',
                        'name': '',
                        'id': 'fieldPostcode',
                        'maxlength': 5,
                        'minlength': 5,
                        'pattern': '[0-9]{5}',
                        'required': true
                    },
                    {
                        'title': 'Birthday',
                        'property': 'birthday',
                        'name': '',
                        'type': 'date',
                        'id': 'fieldBirthday',
                        'required': true
                    },
                    {
                        'title': 'Gender',
                        'property': 'gender',
                        'name': '',
                        'id': 'fieldGender',
                        'required': true
                    },
                    {
                        'title': 'Avatar',
                        'info': 'Add url image',
                        'property': 'picture',
                        'name': '',
                        'type': 'url',
                        'id': 'fieldPicture'
                    }
                ]
            }
        },

        // methods
        methods: {

            // submit form
            submitForm: function (e) {
                let obj = {};
                this.fields.forEach(function(element) {
                    obj[element.property] = element.name;
                });
                console.log(obj);
                this.$store.dispatch('pushUser', obj);
                return false;
            },

            // check form
            checkForm: function (e) {

            },

            // close form
            closeForm: function (e) {
                this.$emit('closed');
            }
        }
    }
</script>
