<template>
    <ul class="users">

        <li class="users__row users__row--head">
            <span class="users__col users__col--avatar"></span>
            <span class="users__col users__col--last">Last</span>
            <span class="users__col users__col--first">First</span>
            <span class="users__col users__col--username">Username</span>
            <span class="users__col users__col--phone">Phone</span>
            <span class="users__col users__col--location">Location</span>
            <span class="users__col users__col--btns"></span>
        </li>


        <user
            v-for="user in users"
            v-bind:key="user.id"
            v-bind:user="user"
            v-bind:status="(activeId !== user.id) ? status : true"
            v-on:opened="getActive($event)"
        ></user>
    </ul>
</template>





<script>
    import User from './User';
    export default {
        name: 'hello',
        components: { User },

        // data
        data () {
            return {
                'activeId': '',
                'status': false
            }
        },

        // methods
        methods: {
            // get active
            getActive: function (id) {
                this.activeId = id;
                this.status = false;
            }
        },

        // computed
        computed: {
            users() {
                return this.$store.state.users;
            }
        }
    }
</script>

