<template>
    <li class="users__row">
        <span class="users__col users__col--avatar">
            <img class="avatar avatar--sm" :src="u.picture_small" alt="avatar" v-if="u.picture_small">
            <span class="avatar avatar--sm avatar--empty" v-else></span>
        </span>
        <span class="users__col users__col--last">{{ u.lastname }}</span>
        <span class="users__col users__col--first">{{ u.firstname }}</span>
        <span class="users__col users__col--username">{{ u.username }}</span>
        <span class="users__col users__col--phone">{{ u.phone }}</span>
        <span class="users__col users__col--location">{{ u.location }}</span>
        <span class="users__col users__col--btns">
            <button
                class="btn-p-m"
                :class="this.uDetails ? 'btn-p-m--minus' : ''"
                v-on:click="toggle_details(u.id)"
            >
                <svg class="btn-p-m__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M23 10h-8.5c-.3 0-.5-.2-.5-.5V1c0-.6-.4-1-1-1h-2c-.6 0-1 .4-1 1v8.5c0 .3-.2.5-.5.5H1c-.6 0-1 .4-1 1v2c0 .6.4 1 1 1h8.5c.3 0 .5.2.5.5V23c0 .6.4 1 1 1h2c.6 0 1-.4 1-1v-8.5c0-.3.2-.5.5-.5H23c.6 0 1-.4 1-1v-2c0-.6-.4-1-1-1z"/>
                </svg>
            </button>
            <button
                class="btn-r"
                v-on:click="remove(u.id)"
            >
                <svg class="btn-r__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 408 408">
                    <path d="M88 389c0 11 9 19 20 19h192c11 0 20-8 21-19l13-290H74l14 290zm160-218c0-4 3-8 8-8h13c5 0 9 4 9 8v166c0 4-4 8-9 8h-13c-5 0-8-4-8-8V171zm-59 0c0-4 4-8 9-8h13c5 0 8 4 8 8v166c0 4-3 8-8 8h-13c-5 0-9-4-9-8V171zm-58 0c0-4 4-8 8-8h13c5 0 9 4 9 8v166c0 4-4 8-9 8h-13c-4 0-8-4-8-8V171zM344 21h-89V4c0-2-2-4-4-4h-93c-3 0-5 2-5 4v17H65c-7 0-13 6-13 13v40h304V34c0-7-5-13-12-13z"/>
                </svg>
            </button>
        </span>


        <transition
            enter-active-class="animated fadeIn"
            leave-active-class="animated fadeOut">
            <div class="user-box" v-if="uDetails">
                <h2 class="user-box__heading">
                    <span>{{ u.firstname }}</span>
                    <img src="./../assets/gender--female.svg" v-if="u.gender === 'female'" aria-hidden="true">
                    <img src="./../assets/gender--male.svg" v-else-if="u.gender === 'male'" aria-hidden="true">
                </h2>
                <ul class="list list--few-cols user-box__list">
                    <li class="list__item">
                        <span class="list__title">Username</span>
                        <span class="list__value">{{ u.username }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Address</span>
                        <span class="list__value">{{ u.address }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Birthday</span>
                        <span class="list__value">{{ u.birthday }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Registered</span>
                        <span class="list__value">{{ u.registered }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">City</span>
                        <span class="list__value">{{ u.location }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Phone</span>
                        <span class="list__value">{{ u.phone }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Email</span>
                        <span class="list__value">{{ u.email }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Zip Code</span>
                        <span class="list__value">{{ u.postcode }}</span>
                    </li>
                    <li class="list__item">
                        <span class="list__title">Cell</span>
                        <span class="list__value">{{ u.cell }}</span>
                    </li>
                </ul>
                <div class="user-box__avatar">
                    <img class="avatar" :src="u.picture" alt="avatar" v-if="u.picture">
                    <span class="avatar avatar--empty" v-else></span>
                </div>
            </div>
        </transition>
    </li>
</template>





<script>
    export default {
        name: 'user',
        props: ['user', 'status'],

        // data
        data () {
            return {
                'u': this.user,
                'uDetails': false
            }
        },

        // watch
        watch: {
            status: function (newStatus) {
                if (!newStatus) {
                    this.uDetails = false;
                }
            },
        },

        // methods
        methods: {

            // toggle details
            toggle_details: function (id) {
                this.uDetails = !this.uDetails;
                if (this.uDetails) {
                    this.$emit('opened', id);
                }
            },

            // remove
            remove: function (id) {
                this.$store.dispatch('removeUser', id);
            }
        }
    }
</script>
