// =============================================================================
// FORM
// =============================================================================

.form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    background-color: #d6d6d6;
    overflow: auto;

    // heading
    &__heading {
        margin-top: 0;
        margin-bottom: 30px;
    }

    // box
    &__box {
        margin-bottom: 30px;

        // form group
        .form-group {
            margin-bottom: 15px;
        }
    }

    // footer
    &__footer {
        margin-top: auto;

        // button
        .btn {
            width: 100%;
        }
    }

    // close
    &__close {
        position: absolute;
        right: 10px;
        top: 10px;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        border-radius: 0;
        padding: 5px;
        color: #999;
        opacity: 0.6;
        transition: opacity .2s;
        cursor: pointer;

        // icon
        svg {
            stroke: currentColor;
        }

        // hover
        &:hover {
            opacity: 1;
        }
    }
}

// end FORM