// =============================================================================
// USER BOX
// =============================================================================

.user-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    column-gap: 30px;
    padding: 20px 0 30px;

    // heading
    &__heading {
        grid-column: 1/ span 4;
        display: flex;
        align-items: center;
        font-size: 2.5em;

        // text
        span {
            margin-right: 15px;
        }
    }

    // list
    &__list {
        grid-column: 1/ span 3;
        align-self: start;
    }

    // avatar
    &__avatar {
        align-self: start;
        justify-self: end;
    }
}

// end USER BOX