// =============================================================================
// USERS
// =============================================================================

:root {
    --avatar-col: 100px;
    --btns-col: 120px;
}

.users {
    padding: 0;
    list-style: none;

    // row
    &__row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1px 10px;

        // odd/even
        &:not( &--head ) {
            &:nth-child(odd) {
                background-color: #f2f2f2;
            }

            &:nth-child(even) {
                background-color: #e8e8e8;
            }
        }

        // head
        &--head {
            position: sticky;
            top: 0;
            z-index: 5;
            background-color: #fff;
            padding-bottom: 10px;
            padding-top: 10px;
            font-size: 1.1em;
            font-weight: 600;
        }

        // user box
        .user-box {
            flex-basis: 100%;
            margin-left: var(--avatar-col);
            margin-right: var(--btns-col);
        }
    }


    // col
    &__col {
        flex: 1 1 0;
        padding: 1px 15px;

        // avatar
        &--avatar {
            flex: 0 0 var(--avatar-col);
            line-height: 0;
        }

        // buttons
        &--btns {
            flex: 0 0 var(--btns-col);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

// end USERS