<template>
    <main class="main" id="app">
        <list></list>

        <div class="main__more">
            <button class="btn" v-on:click="add_more_users(10)">Add more</button>
            <button class="btn" v-on:click="toggle_form()">Add new user</button>
        </div>

        <transition
            enter-active-class="animated fadeInRight"
            leave-active-class="animated fadeOutRight">
            <form-add-user
                v-show:is="formStatus"
                v-on:closed="toggle_form()"
            ></form-add-user>
        </transition>
    </main>
</template>





<script>
    import List from './components/List';
    import FormAddUser from './components/FormAddUser';

    export default {
        name: 'app',
        components: { List, FormAddUser },

        // data
        data () {
            return {
                'formStatus': false,
            }
        },

        // methods
        methods: {

            // add more users
            add_more_users: function (count) {
                this.$root.$options.methods.getRandomUsers(count);
            },

            // toggle form
            toggle_form: function () {
                this.formStatus = !this.formStatus;
            }
        }
    }
</script>




<style src="./styles/style.scss" lang="scss"></style>
